parameters:
  level: 7
  paths:
    - bin
    - src
    - tests
  excludePaths:
    - tests/Indexer/TestData/*
    - tests/Types/TestData/*
  ignoreErrors:
    - '#^Dynamic call to static method PHPUnit\\Framework\\Assert\:\:assert.*$#'
